.footer{
    padding: 2rem 5rem;
    background: #262B46;
    color: white;
    h4{
     font-family: 'Playfair Display', serif;
     font-size: 3rem;
     margin-bottom: 0;
    }
    p{
        font-size: 1.5rem;
        max-width: 800px;
    }
}